.register_form{
    width:40%;
    margin:0 auto;
    padding:20px;
    text-align:center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
    border-radius: 10px;
    text-align: left;
  }
  .invalidlogin{
    color:red;
    background-clip: white;
  }
  h2{
      text-align: center;
  }