
<div class="row topHeader">
  <nav class="navbar ">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1 routerLink='/'>Institute Of <span class="hclstyle">HCL</span> Training Center</h1>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li routerLink="/register"  class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Sign Up</li>
        <li routerLink="/login"  class="btn btn-primary" ><span class=" glyphicon glyphicon-log-in"></span> Login</li>    
      </ul>
    </div>
  </nav>
  </div>